{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "flow",
    "react"
  ],
  "plugins": ["external-helpers"],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2",
        "flow",
        "react"
      ]
    }
  }
}