@import '~@a-ui/core/src/styles/_quarks';

.aui-footer {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    background: $footer-bg;
    padding-top: 3rem;
    padding-bottom: 2rem;

    .a-list {
      li {
          padding: 0;

          a {
              display: block;
              padding: 1rem;

              .fa {
                  font-size: .75rem;
                  float: right;
              }

              &:hover {
                  background: rgba(255,255,255,0.1);
                  text-decoration: none;

                  .fa {
                      -ms-transform: scale(1.35) translateX(-3px);
                      transform: scale(1.35) translateX(-3px);
                  }
              }
          }
      }
    }

    a {
        color: #f3f3f3;
    }

    h3, h5 {
        color: white;
    }
}
