.m-user-menu-flyout {
  display: inline-block;
  position: relative;

  .avatar-wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-user-flyout {
    padding-top: 0;
    padding-bottom: 0;

    .a-avatar-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .a-badge {
    bottom: -.5625rem;
    left: 1.5rem;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
  }

  .m-nav-list {
    li {
      text-align: left;
    }
  }
}
