@import '~@a-ui/core/src/styles/_quarks';

.m-autocomplete.is-multiple-select {

  .a-input__wrapper {
    border: 1px solid $border-color;
    display: flex;
    flex-direction: row;

    &.has-focus {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }

    .o-tag-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0;

      .m-tag {
        &:not(.has-input) {
          margin: $spacer-xs / 2 0 $spacer-xs / 2 $spacer-xs / 2;
        }

        &.has-input {
          margin: 0;
        }

        &.has-input {
          height: auto;
          flex-grow: 1;
        }
      }
    }

    input, input:focus {
      border: none !important;
      padding-left: $spacer-xs;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

.m-selectable-list__item--disabled {
  cursor: not-allowed;
  color: $grey;
  background-color: $grey-lighter;
}

.m-autocomplete {
  .a-input {
    &__wrapper {
      .a-input__button-wrapper {
        display: flex;
        align-items: center;
        position: absolute;
        right: 7px;
        top: 0px;
        height: 100%;
      }
    }
    &.has-clear-button {
      .a-input__wrapper {
        input {
          padding-right: 3rem;
        }
      }
    }
    &.has-clear-button.has-state-icon {
      .a-input__wrapper {
        &::before {
          right: 2.25rem;
        }
        input {
          padding-right: 5.25rem;
        }
      }
    }
    &.has-clear-button.has-icon-right {
      .a-input__wrapper {
        &::before {
          right: 4.25rem;
        }
        input {
          padding-right: 7.25rem;
        }
        .a-spinner {
          right: 1.75rem;
        }
      }
    }
  }
}
