@import '~@a-ui/core/src/styles/_quarks';

.m-autocomplete.is-multiple-select {

  .a-input__wrapper {
    border: 1px solid $border-color;
    display: flex;
    flex-direction: row;

    &.has-focus {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }

    .o-tag-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0;

      .m-tag {
        &:not(.has-input) {
          margin: $spacer-xs / 2 0 $spacer-xs / 2 $spacer-xs / 2;
        }

        &.has-input {
          margin: 0;
        }

        &.has-input {
          height: auto;
          flex-grow: 1;
        }
      }
    }

    input, input:focus {
      border: none !important;
      padding-left: $spacer-xs;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

.m-selectable-list__item--disabled {
  cursor: not-allowed;
  color: $grey;
  background-color: $grey-lighter;
}